html,body {	height: 100%; width: 100%; margin: 0; padding: 0; position:relative; }
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  
}

p { padding: 9px 0;}
a {  color: #fd17f5;   text-decoration: underline; }
a:hover {  text-decoration: none; }

h1, h2{ font-size:25px; color:#656363; text-align:left; font-weight:normal; padding:0; margin:0 0 12px 0; }

body{ font-family: Arial, Helvetica, sans-serif; }

.wrapper{ overflow: hidden; padding: 10px; }
.wrapper .goods{ float: left; width: 50%; }

h1.hh{ text-align: center; }

.goods{}
.goods .category{ padding: 0 0 13px 0; }
.goods .category .category_name{ font-weight: bold }
.goods .category{}

.wrapper .wallet{ float: right; width: 50%; }
.wrapper .wallet .money{ overflow: hidden }
.wrapper .wallet .money .item{ float: left; padding: 0 5px 0 0; }

.sdacha, .wallet_wm, .dont_want_buy{ display: none }