/*@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);
@import url(http://allfont.ru/allfont.css?fonts=roboto-bold-italic);
@import url(http://allfont.ru/allfont.css?fonts=roboto-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-italic);
@import url(http://allfont.ru/allfont.css?fonts=roboto-italic);
@import url(http://allfont.ru/allfont.css?fonts=roboto-light);
@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);
@import url(http://allfont.ru/allfont.css?fonts=roboto-condensed);

@import url(http://allfont.ru/allfont.css?fonts=roboto-condensed);
@import url(http://allfont.ru/allfont.css?fonts=roboto-condensed-bold);*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ul, ul li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
textarea { resize:none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* ??? ?????????? */
html, body { height: 100%; }
* html, * body { height: 100%; }
a img { border: 0; }

