{% load thumbnail %}

{% for object in objects %}
    <div class="row">
        {{ object.name }}, цена {{ object.price|floatformat }} руб., осталось: <span class="quantity_good">{{ object.quantity }}</span> порций, <a href="javascript:void(0);" data-id="{{ object.id }}" data-price="{{ object.price|floatformat }}" class="buy_good">Купить</a>
    </div>
{% endfor %}