<!DOCTYPE>
<html>
<head>
  {% load staticfiles thumbnail cache core_tags %}
  <title>Интерфейс</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{% endblock %}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Content-Language" content="ru"/>

  <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />


</head>
<body>
{% spaceless %}
    <div class="wrapper">
        <h1 id="hh"></h1>
        <div class="goods">
            <h2>Товары</h2>
            {% for category in categories %}
                <div class="category">
                    <div class="category_name">{{ category.name }}</div>
                    {% products_category category.id %}
                </div>
            {% endfor %}
            <p><b>Внимание!!! после покупки нажатия на  КУПИТЬ (определенный товар), средства списываются со счета клиента. Если на счету после покупки или выдачи сдачи нету средств, то транзакция пользователя завершается.</b></p>

            <div class="wallet_wm">
                <br /><br />
                <h2>Наличие монет в WM кошельке</h2>
                <p>В кошельке WM монет размера 1руб количеством <span id="wm_1money">0</span>шт.</p>
                <p>В кошельке WM монет размера 2руб количеством <span id="wm_2money">0</span>шт.</p>
                <p>В кошельке WM монет размера 5руб количеством <span id="wm_5money">0</span>шт.</p>
                <p>В кошельке WM монет размера 10руб количеством <span id="wm_10money">0</span>шт.</p>
            </div>
        </div>

        <div class="wallet">
            <p class="dont_want_buy"><b><a href="javascript:void(0);">Я не хочу ничего покупать</a>.</b></p>
            <h2>Внесенная сумма <span class="my_money_total">0</span> руб.</h2>
            <p>Монета 1руб количество <span id="my_money_1rub">0</span>шт.</p>
            <p>Монета 2руб количество <span id="my_money_2rub">0</span>шт.</p>
            <p>Монета 5руб количество <span id="my_money_5rub">0</span>шт.</p>
            <p>Монета 10руб количество <span id="my_money_10rub">0</span>шт.</p>
            <br /><br />
            <h2>Пополнить баланс (кликните на монету)</h2>
            <div class="money">
                <div class="item"><div><img src="{% static 'img/rub1.jpg' %}" style="width: 90px; height: auto" alt="" /></div><div style="text-align: center"><a class="put_money" data-value="1" href="javascript:void(0);">внести</a></div></div>
                <div class="item"><div><img src="{% static 'img/rub2.jpeg' %}" style="width: 90px; height: auto" alt="" /></div><div style="text-align: center"><a class="put_money" data-value="2" href="javascript:void(0);">внести</a></div></div>
                <div class="item"><div><img src="{% static 'img/rub5.jpg' %}" style="width: 90px; height: auto" alt="" /></div><div style="text-align: center"><a class="put_money" data-value="5" href="javascript:void(0);">внести</a></div></div>
                <div class="item"><div><img src="{% static 'img/rub10.jpg' %}" style="width: 90px; height: auto" alt="" /></div><div style="text-align: center"><a class="put_money" data-value="10" href="javascript:void(0);">внести</a></div></div>
            </div>

            <div class="sdacha">
                <br /><br />
                <h2>Я хочу получить сдачу</h2>
                <p>Будет выдано монет размера 1руб количеством <span id="sdacha_1money">0</span>шт.</p>
                <p>Будет выдано монет размера 2руб количеством <span id="sdacha_2money">0</span>шт.</p>
                <p>Будет выдано монет размера 5руб количеством <span id="sdacha_5money">0</span>шт.</p>
                <p>Будет выдано монет размера 10руб количеством <span id="sdacha_10money">0</span>шт.</p>
                <a href="javascript:void(0);" class="get_sdacha">Дать сдачи (нажми если надо сдачу)</a>
                <p>после этой операции со кошелька клиента спишутся средства и с WM тоже</p>
            </div>
        </div>

    </div>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/funcs.js' %}" type="text/javascript" async></script>

{% endspaceless %}
</body>
</html>